:root {
  --primary: #fd3db5;
  /* --primary: #ff00ff; */
  /* --primary: #38bdf8; */
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate600: #475569;
  --slate700: #334155;
  --slate800: #1e293b;
  --slate900: #0f172a;
}

@font-face {
  font-family: "Inter";
  src: url("Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  /* font-weight: lighter bold; */
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--slate200);
  background-color: var(--slate900);
}

.container {
  padding: 0 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  scale: 0.9;
  /* transform: translateY(20%); */
  filter: blur(20%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  scale: 1;
  /* transform: translateY(0); */
  filter: blur(0);
}

.show-up {
  -webkit-animation: appear 0.5s linear;
  animation: appear 0.5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* -- HEADER START -- */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.25s;
}

.header-fixed {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
}

.navbar {
  height: 72px;
  padding: 0 3rem;
  background-color: var(--slate900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  padding: 0.5rem 0;
}

.logo a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
}

.navbar button {
  width: 25px;
  height: 25px;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.navbar button.active {
  rotate: 180deg;
}

.navbar button div {
  position: relative;
  width: 100%;
  height: 15px;
}

.navbar button span {
  display: block;
  width: 20px;
  height: 5px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  border-radius: 2px;
}

.navbar button span:nth-child(1) {
  left: 0;
  transform-origin: top left;
  rotate: 40deg;
}

.navbar button span:nth-child(2) {
  right: 0;
  transform-origin: top right;
  rotate: -40deg;
}

.navbar nav {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  background-color: var(--slate800);
  transition: all 0.25s ease-in-out;
  z-index: -999;
}

.navbar nav.active {
  top: 72px;
  z-index: 9;
}

.navbar nav ul {
  width: 100%;
  text-align: center;
  list-style: none;
}

.navbar nav ul li a {
  display: block;
  padding: 0.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary);
}

/* -- HEADER END -- */

/* -- DASHBOARD START -- */

section#dashboard {
  /* margin-top: 80px; */
  padding: 4rem 0 0;
}

.intro {
  width: 100%;
  padding: 2rem 1rem;
}

.intro h1 {
  font-size: 2rem;
  font-weight: 600;
}

.intro h1 span {
  display: block;
  color: var(--primary);
  font-size: 3rem;
  font-weight: 700;
}

.typing-container {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--slate300);
  margin-bottom: 1rem;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 1.7rem;
  background-color: var(--slate200);
  margin-left: 4px;
  animation: blink 0.5s linear infinite alternate;
  z-index: -1;
}

.intro p {
  color: var(--slate300);
  margin-bottom: 1rem;
}

.intro p span {
  color: var(--slate300);
}

.intro a {
  display: inline-block;
  background-color: var(--primary);
  color: var(--slate900);
  padding: 0.75rem 1.75rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.25s;
}

.intro a:hover {
  filter: brightness(80%);
}

.profil-image {
  width: 250px;
  height: 250px;
  margin: 2rem 0;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid var(--slate800);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.profil-image img {
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
  transform: scale(1.25);
  position: relative;
  top: -60px;
  z-index: -1;
}

/* .left {
  order: 2;
}

.right {
  order: 1;
} */

/* -- DASHBOARD END -- */

/* -- ABOUT START -- */

section#about {
  padding: 5rem 0;
}

.title h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.about {
  width: 100%;
  margin-bottom: 2.5rem;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about p,
.connect p {
  font-weight: 300;
  color: var(--slate400);
}

.connect {
  width: 100%;
}

.connect h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.connect p {
  margin-bottom: 1rem;
}

.social-icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-icon a {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--slate300);
  border-radius: 50%;
  transition: all 0.25s;
}

.social-icon a:hover {
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

.social-icon a svg {
  fill: var(--slate300);
}

/* -- ABOUT END -- */

/* -- SKILLS START -- */

section#skills {
  padding: 5rem 3rem;
  background-color: var(--slate800);
}

section#skills .title {
  text-align: center;
}

section#skills .title h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skills-logo-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  overflow: hidden;
}

/* .skills-logo {
  display: flex;
  flex-shrink: 0;
  animation: infinite-scrollX 7s linear infinite;
} */

.skills-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-logo a svg {
  height: 3rem;
  filter: grayscale(1);
  transition: all 0.25s;
}

.skills-logo a:hover svg {
  filter: grayscale(0);
}
/* -- SKILLS END -- */

/* -- PROJECTS START -- */

section#projects {
  background-color: var(--slate300);
  padding: 5rem 0;
}

section#projects .title {
  text-align: center;
}

section#projects .title h2 {
  color: var(--slate900);
  font-size: 2rem;
  margin-bottom: 2rem;
}

section#projects .content {
  padding: 1rem 0;
}

.project {
  width: 100%;
  margin-bottom: 1rem;
}

.project .card {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--slate800);
  border-radius: 0.8rem;
  text-decoration: none;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.project .card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
  background-color: var(--slate700);
}

.project .card .preview {
  height: 10rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.project .card .preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.project .card .title {
  margin: 1rem 0;
}

.project .card .title h5 {
  color: var(--slate200);
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.project .card .desc {
  color: var(--slate400);
  font-size: 0.9rem;
}

.project .card .desc p {
  text-align: justify;
  margin-bottom: 0.5rem;
}

/* -- PROJECTS END -- */

/* -- FOOTER START -- */

footer {
  background-color: var(--slate900);
  padding: 3rem 0;
}

.footer .content {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footer h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footer p {
  font-weight: 300;
  color: var(--slate300);
  margin-bottom: 0.25rem;
}

.footer .sec {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.footer .sec p a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.footer .sec ul {
  list-style: none;
}

.footer .sec ul li a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin-bottom: 0.5rem;
}

.copyright {
  padding: 3rem 0 0;
  border-top: 1px solid var(--slate400);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.copyright p {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--slate400);
  text-align: center;
}

.copyright p a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

/* -- FOOTER END -- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .project {
    width: 50%;
    margin-bottom: 0;
    padding: 1rem;
  }

  .project .card {
    height: 32rem;
  }

  .project .card .preview {
    height: 12rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 3rem;
  }

  /* -- HEADER START -- */

  .navbar {
    padding: 1rem 5rem;
  }

  .navbar button {
    display: none;
  }

  .navbar nav {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    background-color: transparent;
    z-index: 9;
  }

  .navbar nav.active {
    top: 0;
    z-index: 9;
  }

  .navbar nav ul {
    display: flex;
  }

  .navbar nav ul li a {
    border: 0;
    padding: 0 2rem;
  }

  /* -- HEADER END -- */

  /* -- DASHBOARD START -- */

  section#dashboard {
    padding: 5rem 0 0rem;
  }

  .box {
    width: 50%;
  }

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }

  .typing-container {
    margin-bottom: 1.5rem;
  }

  .profil-image {
    width: 300px;
    height: 300px;
    margin: 3rem 0;
  }

  /* -- DASHBOARD END -- */

  /* -- ABOUT START -- */

  section#about {
    padding: 8rem 0;
  }

  .title {
    padding: 0 2rem;
  }

  .about,
  .connect {
    padding: 0 2rem;
  }

  /* -- ABOUT END -- */

  /* -- SKILLS START -- */

  section#skills {
    padding: 8rem 3rem;
  }

  section#skills .title h2 {
    font-size: 3rem;
  }

  .skills-logo {
    gap: 3rem;
  }

  .skills-logo a svg {
    height: 4rem;
  }

  /* -- SKILLS END -- */

  /* -- PROJECTS START -- */

  section#projects {
    padding: 8rem 0;
  }

  section#projects .title h2 {
    font-size: 3rem;
  }

  .project .card .title {
    padding: 0;
  }

  /* -- PROJECTS END -- */

  /* -- FOOTER START -- */

  footer {
    padding: 5rem 0 3rem;
  }

  .footer .container {
    padding: 0 3rem;
  }

  .footer .content {
    margin-bottom: 0;
  }

  .footer .sec {
    width: 30%;
    margin-bottom: 5rem;
  }

  /* -- FOOTER END -- */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .intro {
    padding: 0 3rem;
  }

  .intro h1 {
    font-size: 2.5rem;
  }

  .intro h1 span {
    font-size: 4rem;
  }

  .typing-container {
    font-size: 2rem;
  }

  .input-cursor {
    height: 2.5rem;
  }

  .profil-image {
    width: 400px;
    height: 400px;
  }

  .project {
    width: 33.3333%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes infinite-scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes popup {
  from {
    transform: translateY(25%);
    opacity: 0;
    filter: blur(5px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
    filter: blur(20%);
  }
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}
