/* === ABOUT === */

#about {
  background-color: var(--white);
}

.about-container {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-content .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
}

.about-content .description {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-content .description p {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
}

.about-content .description .progress-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.about-content .description .progress-blocks .block {
  width: 100%;
  padding: 1.25rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid var(--gray);
  border-radius: 1rem;
}

.about-content .description .progress-blocks .block:nth-child(3) {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.about-content .description .progress-blocks .block .number {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-content .description .progress-blocks .block .name {
  font-size: 1rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .about-container {
    padding: 4.5rem 3rem;
  }

  .about-content .description .progress-blocks .block {
    flex: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .about-container {
    padding: 6rem 3rem;
  }
}
