/* === EDUCATION === */

#education {
  background-color: var(--base);
}

.education-container {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;
}

.education-content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.education-content .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
  margin-bottom: 3rem;
}

.education {
  display: grid;
  grid-template-areas:
    "pointer university"
    "pointer desc";
}

.education .pointer {
  grid-area: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.75rem;
}

.education .pointer .ellipse-border {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px dashed var(--dark);
  width: fit-content;
}

.education .pointer .ellipse {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.education .pointer .line {
  width: 0;
  height: 100%;
  border-right: 1px dashed var(--dark);
}

.education .university {
  grid-area: university;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.education .university h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.education .university p {
  font-size: 1rem;
  font-weight: 400;
}

.education .desc {
  grid-area: desc;
  padding-top: 0.75rem;
  padding-bottom: 2rem;
}

.education .desc h4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.education .desc .gpa {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--primary);
  background-color: var(--light);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid var(--border);
}

.education .desc .thesis {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
}

.education .desc .thesis span {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .education-container {
    padding: 4.5rem 3rem;
  }
}
