/* === FOOTER === */

.footer {
  background-color: var(--dark);
}

.footer-container {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}

.farewell {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.farewell h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
}

.farewell p {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--light);
}

.footer .social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer .social-icon a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.footer .social-icon a:hover {
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

.footer .social-icon a svg {
  fill: var(--light);
}

.footer .social-icon a:hover svg {
  fill: var(--light);
}

.links-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.links-contact .links,
.links-contact .contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links-contact .links h4,
.links-contact .contact h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--light);
}

.links-contact .links ul li {
  margin-bottom: 0.25rem;
}

.links-contact .links ul li a {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--light);
  transition: all 0.3s ease;
}

.links-contact .links ul li a:hover {
  color: var(--primary);
}

.links-contact .contact ul {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.links-contact .contact ul li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--light);
}

.copyright {
  padding-top: 1rem;
  border-top: 1px solid var(--light);
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--light);
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 4.5rem 3rem;
  }

  .footer-content {
    flex-wrap: nowrap;
    gap: 1.5rem;
  }

  .links-contact {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container {
    padding: 6rem 3rem;
  }

  .footer-content {
    gap: 5.5rem;
  }

  .links-contact {
    gap: 5.5rem;
  }
}
