/* === PROJECTS === */

section#projects {
  background-color: var(--light);
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.project {
  width: 100%;
  max-width: 30rem;
}

.project .picture {
  height: 12rem;
  border-top: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
}

.project .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.project .bottom {
  background-color: var(--white);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project .desc {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project .desc h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

.project .desc p {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--darkgray);
}

.project .desc p span.bold {
  font-weight: 500;
}

.project .nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
}

.project .nav .project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.project .nav .project-link a {
  width: 5.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--gray);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--dark);
  transition: all 0.3s ease;
}

.project .nav .project-link a.repo {
  background-color: var(--dark);
  color: var(--white);
}

.project .nav .project-link a:hover {
  filter: brightness(0.9);
}

.project .nav .project-link a.disabled {
  filter: opacity(0.75);
}

.project .nav .category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project .nav .category p {
  font-size: 0.875rem;
  font-weight: 400;
}

/* Responsive rules moved from styles/responsive.css */
@media only screen and (min-width: 1280px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .project .picture {
    height: 14rem;
  }

  .project .bottom {
    height: 18rem;
  }
}
