/* === SKILLS === */

#skills {
  background-color: var(--white);
}

.skills-section-container {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 4.5rem 1.5rem;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills-content .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.skills .skill a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.skills .skill svg {
  height: 3.5rem;
  filter: grayscale(1);
  transition: all 0.3s;
}

.skills .skill a:hover svg {
  filter: grayscale(0);
}

@media only screen and (min-width: 768px) {
  .skills-section-container {
    padding: 4.5rem 3rem;
  }

  .skills {
    grid-template-columns: repeat(8, 1fr);
    gap: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .skills-section-container {
    padding: 6rem 3rem;
  }

  .skills {
    gap: 2.5rem;
  }

  .skills .skill svg {
    height: 4.5rem;
  }
}
